/* Font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/*------------
   Utilities
 ------------- */

 body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
 }

 /* ---------------------
   Header Section Styles
   ---------------------- */
   .heading-container{
    display: flex;
    justify-content: space-evenly;
    background-color: #2D25A0;
    margin-bottom: 70px;
}
.heading-container:hover .heading-banner{
    transform: scale(1.4) rotate(360deg);
    transition: transform 2s ease-in-out;
}
   .heading-title{
       color: #FFFFFF;
       width: 485px;
       height: 230px;
       font-size: 64px;
       font-weight: 700;
       margin-top: 207px;
       
   }
   .button-live{
    background-color: #E02C6D;
    width: 168px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 169px;

   }
   .button-live a, .fa-arrow-right{
       color: white;
       font-size: 16px;
       text-decoration: none;
   }
   .heading-banner img{
       width: 556px;
       height: 438px;
       margin-top: 153px;
   }

   /*---------------
    Players Styles
    ---------------- */
   .players-container{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
   }
    .players{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 30px;
        
    }
    .player img{
        width: 100%;
        margin-bottom: 16px;
    }
    .player{
        width: 330px;
        height: 474px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #FFFFFF;    
        overflow: hidden;
        padding: 15px;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    }
    .player-detail{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .player-detail h3{
        font-size: 28px;
        width: 300px;
        flex: none;
        color: #18191F;
        margin-block-start: 0px;
        margin-block-end: 0px;
        margin-bottom: 10px;
    }
    .player-detail p{
        color: #6C6C6C;
        margin-block-start: 0px;
        margin-block-end: 0px;
        font-weight: 400;
        font-size: 16px;
    }

/*  ----------------------
    extra-section styles
    ---------------------- */
    .extra-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        margin-right: 10px;
    }
    .video-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 20px;
    }
    .video iframe{
        border-radius: 10px;
    }
    .marquee{
        font-size: 1.3em;
        color:#2D25A0;
        text-shadow: 1px 1px 2px whitesmoke, 0 0 1em blue, 0 0 0.2em blue;
        text-align: center;
    }
    .marquee span{
        color: coral;
    }

    /* --------------
        Form Styles
    -------------------- */
    .form-container {
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }

    .signup-form {
        display: flex;
        flex-direction: column;
    }


    .signup-form input,
    button {
        font-size: 1.3em;
        margin-top: 15px;
        border: 1px solid lightgray;
        padding-left: 10px;
        border-radius: 5px;

    }

    .signup-form button {
        background-color:#E02C6D;
        color: whitesmoke;
        font-weight: 700;
        padding: 5px;
        border: 0;
    }
    .signup-form h1{
        color:#2D25A0;
        text-shadow: 1px 1px 2px whitesmoke, 0 0 1em #E02C6D, 0 0 0.2em #E02C6D;
    }
    .signup-form:hover h1{
        transform: scale(2);
        transition: transform 2s ease-out;
    }


 /*------------------
      footer styles
   ------------------- */
   footer{
       margin: 158px 0 63px 0;
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
   }
   .logo img{
       width: 484px;
       height: 110px;
       margin-bottom: 20px;
   }
   .social-icons{
       margin-left: 14px;
   }
   footer p{
       font-size: 18px;
       font-weight: 400;
       margin-top: 20px;
   }

/* ==================
    Media-Query styles
 =======================*/

 /*======= MOBILE========== */
 @media only screen and (max-width:688px) {
    .heading-container{
        flex-direction: column;
        
    }
.heading-title{
    font-size: 36px;
    width: 278px;
    height: 138px;
}
.heading{
    margin: 16px;
}
    .heading-banner img{
        width: 329px;
        margin: 15px;
    }
    .players,footer{
        grid-template-columns: repeat(1,1fr);
        
    } 
    .players-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .video-container{
        grid-template-columns: repeat(1,1fr);
        grid-gap: 0;
    } 
    .extra-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .video iframe{
        width: 100%;
        margin: 5px;
    }
    footer.container {
       flex-direction: column;
       margin: 50px;
       
    }
    .logo img{
        width: 100%;
    }
 }

 /* =======TABLET========= */

 @media only screen and (min-width:688px) and (max-width: 992px) {
    .heading-container{
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        
    }
.heading-title{
    font-size: 36px;
    width: 278px;
    height: 138px;
}
.heading{
    margin-left: 30px;
    width: 100%;
}
    .heading-banner img{
        width: 329px;
        margin: 15px;
        
    }
    .players,footer{
        grid-template-columns: repeat(1,1fr);
        
    } 
    .players-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .video-container{
        grid-template-columns: repeat(1,1fr);
        grid-gap: 0;
    } 
    .extra-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .video iframe{
        width: 100%;
        margin: 5px;
    }
    footer.container {
       flex-direction: column;
       margin: 50px;
       
    }
    .logo img{
        width: 100%;
    }
 }